.ui.header,
.ui.comments .comment .author,
.ui.comments .comment .author,
.ui.comments .comment .text,
.ui.comments .comment .text,
.ui.comments .comment .actions a {
  color: white !important;
}
.ui.card > .content,
.ui.cards > .card > .content {
  border-color: lightpink;
}
.ui.card,
.ui.cards > .card {
  background-color: transparent !important;
  box-shadow: 0 1px 3px 0 lightpink, 0 0 0 1px lightpink;
  border-radius: 5px;
}
.image {
  border: 1px !important;
  border-color: white !important;
}
.greenHeader {
  color: rgb(71, 206, 206) !important;
}
.ui.segment {
  background-color: black;
  box-shadow: 0 0px 0px 0 lightpink, 0 0px 20px 0 lightpink !important;
  border-radius: 10px;
  width: 100% !important;
}
.ui.raised.segment,
.ui.raised.segments {
  box-shadow: none !important;
}
.time-text {
  color: antiquewhite;
}

.border-bottom {
  border-color: lightpink !important;
  width: 100% !important;
}

.input-style {
  background-color: rgb(196, 195, 195);
  box-shadow: 0 1px 1px 0 antiquewhite, 0 2px 10px 0 antiquewhite !important;
}
.ui.blue.button,
.ui.blue.buttons .button {
  background-color: rgb(71, 206, 206);
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.blue.button,
.ui.blue.buttons .button {
  margin-top: 50px;
}

.ui.blue.button,
.ui.blue.buttons .button {
  margin-top: 0 !important;
}

.text-antiquewhite {
  color: antiquewhite;
}
.comment-box {
  background-color: transparent !important;

  border: 1px solid !important;
  font-weight: 200;
  color: lightpink !important;

  width: 100% !important;
}
