.App {
  /* text-align: center; */
  background: linear-gradient(to left, #1d0102 0%, #000000 100%);
  color: antiquewhite;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.navBarr {
  background: rgba(77, 75, 75, 0.329);
}

.searchBody {
  padding-top: 11rem;
}

.issueTitle {
  color: rgb(71, 206, 206);
  text-decoration: none !important;
}

.issueTitle:hover {
  color: antiquewhite;
}

.page-link {
  background: linear-gradient(
    to right,
    rgba(58, 2, 4, 0.8) 0%,
    rgba(0, 5, 46, 0.8) 100%
  ) !important;
  color: rgb(241, 245, 245) !important;
  border: 1px solid rgba(250, 235, 215, 1) !important;
}

pre {
  background-color: rgba(7, 0, 0, 0.411);
  color: rgb(229, 255, 0) !important;
  border: #ffffff solid 2px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.issues-page {
  text-align: right;
}

.issues-page .profile img {
  width: 100px;
  height: 100px;
}

.issues-page .profile p {
  margin-bottom: 0px;
}

.label span {
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 15px;
  padding: 0.15em 4px;
  color: black;
}
.open.octicon {
  color: #28a745;
}

.fixed-top {
  position: fixed;
  top: 20px !important;
}
.searchbox-style {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  font-weight: 200;
  color: rgb(255, 255, 255);
  padding-left: 0;
  width: 250px !important;
}
.btn-submit-style {
  margin-left: 20px !important;

  color: white;
  background: linear-gradient(
    to right,
    rgba(58, 2, 4, 0.8) 0%,
    rgba(0, 5, 46, 0.8) 100%
  ) !important;
}
